.main{
    background: white;
    width: 550px;
    height: 640px;
    text-align: center;
    margin-left: 350px;
    margin: none;
    
}
body{
    background-image:url(anchor-lee-kO1G3neRA2o-unsplash.jpg);
}

#animallogo{
    font-size: 68px;
    color: rgb(33, 174, 33);
    position: relative;
    top: 28px;
    
    
}
#evernote1{
    font-size: 50px;
    position: relative;
    bottom: 25px;
    
}
#smallnote{
    font-size: 18px;
    position: relative;
    bottom:50px;
    
}
.m1 {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    padding: 7px;
    font-size: 20px;
    
  }
  .m2{
    padding: 7px;
    font-size: 20px;
  }
  #button1{
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px ;
    width: 290px;
    height: 40px;
    background: white;
    transform: translate(50%);
    position: absolute;
    top: 36%;
    left:27%;
    
    
    
  }
  #button1:hover{
background:rgb(221, 212, 212);
  }
  #button2:hover{
    background:rgb(221, 212, 212);
    
  }
  #button3:hover{
    background:green;
    
  }
  
  #button2{
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    width: 290px;
    height: 40px;
    background: white;
    margin-bottom: 200px;
    transform: translate(50%);
    position: absolute;
    top: 43%;
    left:27%;
    
    
  }
  h1{
    font-size:18px;
    left: 280px;
    opacity: 0.5;
    transform: translate(50%);
    position: absolute;
    top: 50%;
    left:615px;

  }

  h1::before{
    content:"" ;
    height: 1px;
    width: 123px;
    background: black;
    position: absolute;
    bottom:10px;
    right:34px;
    opacity: 0.5;


  }
  h1::after{
    content:"" ;
    height: 1px;
    width: 123px;
    background: black;
    position: absolute;
    top: 9px;
    left:32px;
    opacity: 0.5;

  }
  .email{
    margin: none;
    position: relative;
     transform: translate(50%);
    position: absolute;
    top: 58%;
    left: 331px;
    
  }
  #name{
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    width: 290px;
    height: 46px;
    
  }
  #name::placeholder{
    transform: translate(15px);

  }
  #button3{
    color: white;
    background: rgb(18, 181, 18);
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    width: 294px;
    height: 46px;
    text-align: center;
     transform: translate(50%);
    position: absolute;
    top: 67%;
    left:332px;
  }
  #check{
    color:grey;
     transform: translate(50%);
    position: absolute;
    top: 80%;
    left:526px;
  

  }
  #remember{
    color: grey;
    font-size:15px;
     transform: translate(50%);
    position: absolute;
    top: 77%;
    left: 473px;
    
  }
  #dont{
    color: grey;
    font-size:15px;
     transform: translate(50%);
    position: absolute;
    top: 88%;
    left: 494px;
    
  }
  #thelink{
    text-decoration: none;
    color:  rgb(18, 181, 18);
    font-size:19px;
     transform: translate(50%);
    position: absolute;
    top: 94%;
    left: 518px;
  
  }
  #terms{
    color: grey;
    font-size:14px;
     transform: translate(50%);
    position: absolute;
    top: 98%;
    left: 120px;
    
  }   













  
  @media (max-width: 844px){
    .main{
      background: white;
      height: auto;
      width:auto;
      position: relative;
      left:350px;
      display: block;
      margin:0;
      
  }
    body{

      background-image:none;
      height: auto;
      width:auto;

  }
  }