.main{
    background: white;
    width: 550px;
    height: 640px;
    text-align: center;
    margin-left: 350px;
    margin: none;
    
}
body{
    background-image:url(anchor-lee-kO1G3neRA2o-unsplash.jpg);
}
.dropdown{
  position: absolute;
  top: 5%;
}

#animallogo{
    font-size: 68px;
    color: rgb(33, 174, 33);
    position: relative;
    top: 5px;
    left: 2px;
    
    
}
#evernote1{
    font-size: 50px;
    position: absolute;
    bottom: 510px;
    left:527px;
    
}
#smallnote{
    font-size: 18px;
    position: absolute;
    bottom:460px;
    left:494px;
    
}
.m1 {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    padding: 7px;
    font-size: 20px;
    
  }
  .m2{
    padding: 7px;
    font-size: 20px;
  }
  #button1{
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px ;
    width: 290px;
    height: 40px;
    background: white;
    transform: translate(50%);
    position: absolute;
    top: 36%;
    left:26%;
    
    
    
  }
  #button1:hover{
background:rgb(221, 212, 212);
  }
  #button2:hover{
    background:rgb(221, 212, 212);
    
  }
  #button3:hover{
    background:green;
    
  }
  
  #button2{
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    width: 290px;
    height: 40px;
    background: white;
    margin-bottom: 200px;
    transform: translate(50%);
    position: absolute;
    top: 43%;
    left:26%;
    
    
  }
  h1{
    font-size:18px;
    left: 280px;
    opacity: 0.5;
    transform: translate(50%);
    position: absolute;
    top: 52%;
    left:600px;

  }

  h1::before{
    content:"" ;
    height: 1px;
    width: 123px;
    background: black;
    position: absolute;
    bottom:11px;
    right:34px;
    opacity: 0.5;


  }
  h1::after{
    content:"" ;
    height: 1px;
    width: 123px;
    background: black;
    position: absolute;
    top: 9px;
    left:32px;
    opacity: 0.5;

  }
 
    
  #email{
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    width: 290px;
    height:40px;
      transform: translate(50%);
    position: absolute;
    top: 58%;
    left: 328px;
    
  }
  #emailError{
    font-size: 10px;
    position: absolute;
    top: 64%;
    left:480px;
    color: red;
  }
  #name::placeholder{
    transform: translate(15px);

  }
  h3{
    font-size: 16px;
  }
  #button3{
    color: white;
    background: rgb(18, 181, 18);
    border: 1px solid grey;
    border-radius: 6px 6px 6px 6px;
    width: 294px;
    height: 46px;
    text-align: center;
     transform: translate(50%);
    position: absolute;
    top: 66%;
    left:323px;
  }
  #check{
    color:grey;
     transform: translate(50%);
    position: absolute;
    top: 77%;
    left:530px;
  

  }
  #remember{
    color: grey;
    font-size:15px;
     transform: translate(50%);
    position: absolute;
    top: 77%;
    left: 469px;
    
  }
  #dont{
    color: grey;
    font-size:15px;
     transform: translate(50%);
    position: absolute;
    top: 86%;
    left: 490px;
    
  }
  #thelink{
    text-decoration: none;
    color:  rgb(18, 181, 18);
    font-size:16px;
     transform: translate(50%);
    position: absolute;
    top: 90%;
    left:535px;
  
  }
  #terms{
    color: grey;
    font-size:14px;
     transform: translate(50%);
    position: absolute;
    top: 98%;
    left: 70px
    
  }   













  
  @media screen and (max-width: 768px){
    .main{
      margin:0px auto;
      
  }
    body{
overflow: hidden;
      background-image:none;


  }

  #animallogo{
    font-size: 68px;
    color: rgb(33, 174, 33);
    position: absolute;
    top:8%;
    left: 43%;
  }
  #button1{
    position: absolute;
    left:-7%;
    top:230px;
  }
  #button2{
    position: absolute;
    left:-7%;
    top:275px;
  }
  #evernote1{
    font-size: 50px;
    position: absolute;
    left:31%;
    top:106px;
  
}
#smallnote{
  font-size:17px;
  position: absolute;
  bottom:400px;
  left:130px;
  
}

#line{
  position: absolute;
  left:49%;
  top:54%;
}

#name2{
  position: absolute;
  top: 62%;
  left:-74%;
  
}
#button3{
  position: absolute;
  top: 70%;
  left:-8%;
}

#check{
position: absolute;
left: 31%;
top: 83%;
}
#remember{
  font-size: 15px;
  position: absolute;
  left:18%;
  top:83%;

}
#dont{
  position: absolute;
  left: 20%;
top: 91%;
}
#thelink{
  position: absolute;
  left: 29%;
top: 95%;
}
#terms{
  font-size:11px;
  position: absolute;
  left:-37%;
  top: 99%;
}
  }